:root {
  --vh: 100%;
  height: calc(var(--vh, 1vh) * 100);
}


.modal{
  margin-top : 20px;
  padding : 20px;
  background : #eee;
  text-align : left;
}

div {
  box-sizing : border-box
}
.list {
  text-align : left;
  padding-left : 20px;
  border-bottom : 1px solid grey;
}

&svg {
  color: gray;
  cursor: pointer;
}

  :hover svg {
    color: #fcc419;
  }

  &svg:hover ~ svg {
    color: gray;
  }

  .yellowStar {
    color: #fcc419;
  }