.logo_name{
  margin-left: 10px;
}

.ranking{
  background-color: black;
  color: white
}

.p_box{
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 100px;
}

.p_box_p{
  width: 20%;
  border-radius: 50%;
  float: left;
  padding: 20px;
}

.p_box_r{
  color: black;
  padding-top: 20px;
}

.p_box_t{
  color: black;
}
